@import './base.css';
@import './reset.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

@media (hover: hover) {
  a:hover {
    background-color: rgba(158, 120, 207, .1);
  }
}

body {
  display: flex;
  place-items: center;
}